$mainColor: #000;
$secondaryColor: #fff;
$tertiaryColor:#52565b;
$eduleColor1:#309255;
$eduleBg:#eefbf3;
$myFont: 'Poppins', serif;
$eduleBorder: #30925540;
$SectionPadding: 10px 40px;


$font-sizes: (
   "large": 2.6rem,
   "medium": 2.1rem,
   "standard": 1.2rem,
   "small": 0.9rem,
   "smaller": 0.6rem
); 

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

